{% extends 'GoproVipacProveedorBundle::layout.html.twig' %}
{% block title %}Patrón de servicio{% endblock title %}
{% block titulo %}Patrón de servicio{% endblock titulo %}
{% block content %}
    <table class="registroPropiedades">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ entity.monto }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha }}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{{ entity.hora }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="registroAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_proveedor_servicio') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_vipac_proveedor_servicio_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_vipac_proveedor_servicio_new') }}">
                Crear otro
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
