{% extends 'GoproVipacExtraBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% if css|default %}
        {{ css | raw}}
        <style type="text/css">
            textarea.codigo{ border:#000000 solid 1px; margin:10px; width:600px; height: 600px;}
        </style>
    {% endif %}
{% endblock stylesheets%}

{% block content %}
    <h1>Generador de Firmas</h1>

    <form action="#" method="post" {{ form_enctype(formulario) }}>
        {{ form_widget(formulario) }}

        <input type="submit" value="Generar" />
    </form>

    {% if body|default %}
        {{ body | raw}}
        <textarea class="codigo">
            {{ textarea }}
        </textarea>
    {% endif %}

{% endblock content %}




