{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block title %}Tipos de servicios{% endblock title %}
{% block titulo %}Tipos de servicios{% endblock titulo %}
{% block content %}
    <table class="registroPropiedades">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="registroAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_inventario_serviciotipo') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_inventario_serviciotipo_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_inventario_serviciotipo_new') }}">
                Crear otro
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
