{% extends 'GoproVipacReporteBundle::layout.html.twig' %}
{% block content %}
    <h1>Sentencia SQL</h1>
    <table class="registroPropiedades">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ entity.contenido }}</td>
            </tr>
        </tbody>
    </table>

    {{ form(parametros_form) }}

    <ul class="registroAcciones">
        <li>
            <a class="boton" href="{{ path('sentencia') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('sentencia_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    {% if mensajes|default %}
        <div id="mensajes">
            <h1>Resultados del proceso</h1>
            <ul>
                {% for mensaje in mensajes %}
                    <li>{{ mensaje }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock content %}
