{% extends 'GoproVipacReporteBundle::layout.html.twig' %}
{% block title %}Sentencia SQL{% endblock title %}
{% block titulo %}Sentencia SQL{% endblock titulo %}
{% block content %}
    <table class="registroPropiedades">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ entity.contenido }}</td>
            </tr>
        </tbody>
    </table>

    {{ form(parametros_form) }}

    <ul class="registroAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_reporte_sentencia') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_vipac_reporte_sentencia_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_vipac_reporte_sentencia_new') }}">
                Crear otro
            </a>
        </li>
    </ul>

    {% if resultados|default and encabezados|default %}
        <div id="resultados">
            <h1>Resultado del proceso</h1>
            <table class="listaRegistros">
                <thead>
                    <tr>
                        {% for encabezado in encabezados %}
                            <th>{{ encabezado }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for fila in resultados %}
                        <tr>
                            {% for celda in fila %}
                                <td>{{ celda }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if mensajes|default %}
        <div id="mensajes">
            <h1>Resultados de la consulta</h1>
            <ul>
                {% for mensaje in mensajes %}
                    <li>{{ mensaje }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock content %}
