{% extends 'GoproVipacProveedorBundle::layout.html.twig' %}
{% block title %}Lista de tipos de caracteristicas{% endblock title %}
{% block titulo %}Lista de tipos de caracteristicas{% endblock titulo %}
{% block content %}
    <table class="listaRegistros">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('gopro_vipac_proveedor_caracteristicatipo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.tipo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('gopro_vipac_proveedor_caracteristicatipo_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('gopro_vipac_proveedor_caracteristicatipo_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_proveedor_caracteristicatipo_new') }}">
                Crear un nuevo registro
            </a>
        </li>
    </ul>
{% endblock content %}
