{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block content %}
    <h1>Mantenimientos</h1>

    <table class="registroPropiedades">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{{ entity.creado|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modificado</th>
                <td>{{ entity.modificado|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="registroAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_inventario_mantenimiento') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_inventario_mantenimiento_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
