<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Bienvenidos! - VWeb{% endblock title %}</title>

    {% block stylesheets %}
        {% stylesheets filter='css_url_rewrite' '@GoproMainBundle/Resources/public/css/*' '@GoproMainBundle/Resources/public/css/jquery.ui.vipac/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" rel="stylesheet" media="screen"/>
        {% endstylesheets %}

    {% endblock stylesheets%}

    {% block javascripts %}
        {% javascripts '@GoproMainBundle/Resources/public/js/inicio/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock javascripts %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
<div id="viewPort">
    <div id="header">
        <div id='titulo'><h1>{% block titulo %}{% endblock titulo %}</h1></div>
        <div id="loginStatus">

            {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}

                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
    </div>

    <div id="sessionFlash">
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    </div>
    <div id='sidebar'>{% block sidebar %}
            {{ render(controller('GoproMainBundle:Default:sidebar')) }}
    {% endblock sidebar %}</div>

    <div id="container">{% block container %}{% endblock container %}</div>
{% endblock body %}
{% block javascriptsfinal %}
    <script id="plantillaHighlight" type="text/x-tmpl">
        {{ source("GoproMainBundle:Plantilla:highlight.js.twig") }}
    </script>
    <script id="plantillaError" type="text/x-tmpl">
        {{ source("GoproMainBundle:Plantilla:error.js.twig") }}
    </script>
    <script id="archivoRow" type="text/x-tmpl">
        {{ source("GoproMainBundle:Plantilla:archivorow.js.twig") }}
    </script>
    {% javascripts '@GoproMainBundle/Resources/public/js/fin/*'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptsfinal %}
</div>
</body>
</html>
