<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Bienvenidos!{% endblock title %}</title>
    {% block stylesheets %}{% endblock stylesheets%}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <div id="header">
        <div id="loginStatus">
            {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}

                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
    </div>

    <div id="sessionFlash">
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    </div>

{% block container %}{% endblock container %}
{% endblock body %}
{% block javascripts %}{% endblock javascripts %}
</body>
</html>
