<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Bienvenidos! - VWeb{% endblock title %}</title>

    {% block stylesheets %}
        <script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
        <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
        <script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
        <!-- The Canvas to Blob plugin is included for image resizing functionality -->
        <script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
        <!-- blueimp Gallery script -->
        <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
        {% stylesheets filter='css_url_rewrite'
            '@GoproVipacMainBundle/Resources/public/css/*'
            '@GoproVipacMainBundle/Resources/public/css/jquery.ui.vipac/*'
            '@GoproVipacMainBundle/Resources/public/css/jquery.fileupload/*'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" rel="stylesheet" media="screen"/>
        {% endstylesheets %}

    {% endblock stylesheets%}

    {% block javascripts %}
        {% javascripts
           '@GoproVipacMainBundle/Resources/public/js/inicio/*'
           '@GoproVipacMainBundle/Resources/public/js/jquery.fileUpload/*'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock javascripts %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <div id="header">
        <div id='titulo'><h1>{% block titulo %}{% endblock titulo %}</h1></div>
        <div id="loginStatus">

            {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}

                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
    </div>

    <div id="sessionFlash">
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    </div>
    <div id='sidebar'>{% block sidebar %}
            {{ render(controller('GoproVipacMainBundle:Default:sidebar')) }}
    {% endblock sidebar %}</div>

    <div id="container">{% block container %}{% endblock container %}</div>
{% endblock body %}
{% block javascriptsfinal %}
    {% javascripts '@GoproVipacMainBundle/Resources/public/js/fin/*'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptsfinal %}

</body>
</html>
