<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Bienvenidos! - VWeb{% endblock title %}</title>

    {% block stylesheets %}
        {% stylesheets '@GoproVipacMainBundle/Resources/public/css/*.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock stylesheets%}

    {% block javascripts %}
        {% javascripts '@GoproVipacMainBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock javascripts %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <div id="header">
        <div id='titulo'>{% block titulo %}{% endblock titulo %}</div>
        <div id="loginStatus">

            {% if  is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}

                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
    </div>

    <div id="sessionFlash">
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    </div>
    <div id='sidebar'>{% block sidebar %}
            {{ render(controller('GoproVipacMainBundle:Default:sidebar')) }}
    {% endblock sidebar %}</div>

    <div id="container">{% block container %}{% endblock container %}</div>
{% endblock body %}
{% block javascriptsfinal %}
    <script type="text/javascript">
        if($('div#sidebar').css('display')=='none'){
            $('div#container').width('100%');
        }
    </script>
{% endblock javascriptsfinal %}

</body>
</html>
