{% extends 'GoproVipacProveedorBundle::layout.html.twig' %}
{% block title %}Lista de caracteristicas{% endblock title %}
{% block titulo %}Lista de caracteristicas{% endblock titulo %}
{% block content %}
    <table class="listaRegistros">
        <thead>
            <tr>
                <th>Id</th>
                <th>Proveedor</th>
                <th>Caracteristica</th>
                <th>Texto</th>
                <th>Número</th>
                <th>Fecha</th>
                <th>Booleano</th>
                <th>Archivo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('gopro_vipac_proveedor_informacioncaracteristica_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.informacion.nombre }}</td>
                <td>{{ entity.caracteristica.nombre }}</td>
                <td>{{ entity.texto }}</td>
                <td>{{ entity.numero }}</td>
                <td>{{ entity.fecha }}</td>
                <td>{{ entity.booleano }}</td>
                <td>{{ entity.archivo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('gopro_vipac_proveedor_informacioncaracteristica_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('gopro_vipac_proveedor_informacioncaracteristica_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_proveedor_informacioncaracteristica_new') }}">
                Crear un nuevo registro
            </a>
        </li>
    </ul>
{% endblock content %}
