{% extends 'GoproVipacProveedorBundle::layout.html.twig' %}
{% block title %}Caracteristica{% endblock title %}
{% block titulo %}Caracteristica{% endblock titulo %}
{% block content %}
    <table class="registroPropiedades">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Proveedor</th>
                <td>{{ entity.informacion.nombre }}</td>
            </tr>
            <tr>
                <th>Caracteristica</th>
                <td>{{ entity.caracteristica.nombre }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ entity.texto }}</td>
            </tr>
            <tr>
                <th>Número</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha }}</td>
            </tr>
            <tr>
                <th>Booleano</th>
                <td>{{ entity.booleano }}</td>
            </tr>
            <tr>
                <th>Archivo</th>
                <td>{{ entity.archivo }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="registroAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_proveedor_informacioncaracteristica') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_vipac_proveedor_informacioncaracteristica_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_vipac_proveedor_informacioncaracteristica_new') }}">
                Crear otro
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
