{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block title %}Lista de items{% endblock title %}
{% block titulo %}Lista de items{% endblock titulo %}
{% block content %}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_inventario_item_new') }}">
                Agregar un item
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_inventario_item_servicio', { 'id' : 'todo' }) }}">
                Generar mantenimientos
            </a>
        </li>
    </ul>
    {{ grid(grid) }}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_inventario_item_new') }}">
                Agregar un item
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_inventario_item_servicio', { 'id' : 'todo' }) }}">
                Generar mantenimientos
            </a>
        </li>
    </ul>
{% endblock content %}