{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block title %}Items{% endblock title %}
{% block titulo %}Items{% endblock titulo %}
{% block content %}
    <table class="registroPropiedades">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Código</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Componentes</h2>
    <table class="listaRegistros">
        <thead>
        <tr>
            <th>Id</th>
            <th>Tipo de componente</th>
            <th>Fecha de compra</th>
            <th>Fin de garantía</th>
            <th>Fecha de Baja</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for componente in entity.componentes %}
            <tr>
                <td><a href="{{ path('gopro_inventario_componente_show', { 'id': componente.id }) }}">{{ componente.id }}</a></td>
                <td>{% if componente.componentetipo %}{{ componente.componentetipo.nombre }}{% endif %}</td>
                <td>{% if componente.fechacompra %}{{ componente.fechacompra|date('Y-m-d') }}{% endif %}</td>
                <td>{% if componente.fechafingarantia %}{{ componente.fechafingarantia|date('Y-m-d') }}{% endif %}</td>
                <td>{% if componente.fechabaja %}{{ componente.fechabaja|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gopro_inventario_componente_show', { 'id': componente.id }) }}">mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('gopro_inventario_componente_edit', { 'id': componente.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_inventario_componente_new', { 'item_id': entity.id }) }}">
                Agregar componente
            </a>
        </li>
    </ul>


    <ul class="registroAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_inventario_item') }}">
                Ir a la lista de items
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_inventario_item_edit', { 'id': entity.id }) }}">
                Editar el item
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_inventario_item_new') }}">
                Agregar item
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
