{% extends 'GoproVipacDbprocesoBundle::layout.html.twig' %}
{% block title %}Generador del formato de carga para CP{% endblock title %}
{% block titulo %}Generador del formato de carga para CP{% endblock titulo %}
{% block content %}

    <div id="parametros">
        <h1>Agregar archivo</h1>
        {{ form(formulario) }}
    </div>

    {% if archivosAlmacenados|default %}
        <div id="archivos">
            <h1>Listado de Archivos</h1>
            <table id="listado">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha de creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for archivo in archivosAlmacenados %}
                    <tr data-id="{{ archivo.id }}">
                        <td class="nombre">{{ archivo.nombre }}</td>
                        <td>{{ archivo.creado | date('d-m-Y H:i:s') }}</td>
                        <td>
                            <a href="{{ path('proceso_cargadorcp', {'archivoEjecutar': archivo.id}) }}">Procesar</a>
                            <a class="borrarFila" data-id="{{ archivo.id }}" href="{{ path('archivo_delete',{'id':archivo.id})}}">Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% if mensajes|default %}
        <div id="mensajes">
            <h1>Mensajes del proceso</h1>
            <ul>
                {% for mensaje in mensajes %}
                    <li>{{ mensaje }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock content %}





