{% extends 'GoproVipacDbprocesoBundle::layout.html.twig' %}
{% block title %}Calculo para cheques{% endblock title %}
{% block titulo %}Calculo para cheques{% endblock titulo %}
{% block content %}
    <div id="parametros">
        <h1>Agregar archivo</h1>
        {{ form(formulario) }}
    </div>

    {% if archivosAlmacenados|default %}
        <div id="archivos">
            <h1>Listado de Archivos</h1>
            <table id="listado">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de creación</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for archivo in archivosAlmacenados %}
                    <tr data-id="{{ archivo.id }}">
                        <td class="nombre">{{ archivo.nombre }}</td>
                        <td>{{ archivo.creado | date('d-m-Y H:i:s') }}</td>
                        <td>
                            <a href="{{ path('proceso_cheque', {'archivoEjecutar': archivo.id}) }}">Procesar</a>
                            <a class="borrarFila" data-id="{{ archivo.id }}" href="{{ path('archivo_delete',{'id':archivo.id})}}">Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% if resultados|default %}
        <div id="resultados">
            <h1>Resultado del proceso</h1>
            <table border="1">
                <tr>
                    <th>Centro de Costo</th>
                    <th>Monto</th>
                </tr>
                {% for centro,monto in resultados %}
                    <tr>
                        <td>{{ centro }}</a></td>
                        <td>{{ monto }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if mensajes|default %}
        <div id="mensajes">
            <h1>Mensajes del proceso</h1>
            <ul>
                {% for mensaje in mensajes %}
                    <li>{{ mensaje }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock content %}




