{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div id="login">
        <div id="loginError">
            {% if error %}
                <div class="loginErrorItem">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}
        </div>
        <div id="loginForm">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input class="text" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                <br />
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input class="text" type="password" id="password" name="_password" required="required" />
                <br />
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                <br />
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
            </form>
        </div>
    </div>
{% endblock fos_user_content %}
