{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block title %}Características del componente{% endblock title %}
{% block titulo %}Características del componente{% endblock titulo %}
{% block content %}
    <table class="registroPropiedades">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Componente</th>
                <td>{{ entity.componente.item.nombre }} - {{ entity.componente.componentetipo.nombre }}</td>
            </tr>
            <tr>
                <th>Caracteristica</th>
                <td>{{ entity.caracteristica.nombre }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ entity.contenido }}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{{ entity.creado|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modificado</th>
                <td>{{ entity.modificado|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="registroAcciones">
        {% if entity.componente %}
            <li>
                <a class="boton" href="{{ path('gopro_inventario_componente_show', { 'id': entity.componente.id }) }}">
                    Ir al componente
                </a>
            </li>
        {% endif %}
        <li>
            <a class="boton" href="{{ path('gopro_inventario_componentecaracteristica_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_inventario_componentecaracteristica_new', { 'componente_id': entity.componente.id }) }}">
                Agregar otra característica
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
