{% extends 'GoproVipacDbprocesoBundle::layout.html.twig' %}
{% block title %}Lista de tipos{% endblock title %}
{% block titulo %}Lista de tipos{% endblock titulo %}
{% block content %}
    <table class="listaRegistros">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Tipo Sunat</th>
                <th>Tipo Sap</th>
                <th>Exonerado IGV</th>
                <th>Monto de retención</th>
                <th>Porcentaje de retención</th>
                <th>Código de retención</th>
                <th>Monto de detracción</th>
                <th>Porcentaje de detracción</th>
                <th>Código de detracción</th>
                <th>Cuenta</th>
                <th>Tipo servicio</th>
                <th>Creado</th>
                <th>Modificado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('gopro_vipac_dbproceso_docsaptipo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.tiposunat }}</td>
                <td>{{ entity.tiposap }}</td>
                <td>{{ entity.exoneradoigv ? 'Si' : 'No' }}</td>
                <td>{{ entity.montoretencion }}</td>
                <td>{{ entity.porcentajeretencion }}</td>
                <td>{{ entity.codigoretencion }}</td>
                <td>{{ entity.montodetraccion }}</td>
                <td>{{ entity.porcentajedetraccion }}</td>
                <td>{{ entity.codigodetraccion }}</td>
                <td>{{ entity.cuenta }}</td>
                <td>{{ entity.tiposervicio }}</td>
                <td>{% if entity.creado %}{{ entity.creado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.modificado %}{{ entity.modificado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('gopro_vipac_dbproceso_docsaptipo_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('gopro_vipac_dbproceso_docsaptipo_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_dbproceso_docsaptipo_new') }}">
                Crear un nuevo registro
            </a>
        </li>
    </ul>
{% endblock content%}
