{% extends 'GoproVipacDbprocesoBundle::layout.html.twig' %}
{% block title %}Tipo de documentos Sap{% endblock title %}
{% block titulo %}Tipo de documentos Sap{% endblock titulo %}
{% block content %}
    <table class="registroPropiedades">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Tipo Sunat</th>
                <td>{{ entity.tiposunat }}</td>
            </tr>
            <tr>
                <th>Tipo Sap</th>
                <td>{{ entity.tiposap }}</td>
            </tr>
            <tr>
                <th>Prefijo serie débito</th>
                <td>{{ entity.prefijoseriedebito }}</td>
            </tr>
            <tr>
                <th>Prefijo serie crédito</th>
                <td>{{ entity.prefijoseriecredito }}</td>
            </tr>
            <tr>
                <th>Forzar Grabado</th>
                <td>{{ entity.forzargravado ? 'Si' : 'No' }}</td>
            </tr>
            <tr>
                <th>Codigo no gravado</th>
                <td>{{ entity.codigoigvnogravado }}</td>
            </tr>
            <tr>
                <th>Codigo no gravado diferido</th>
                <td>{{ entity.codigoigvnogravadodif }}</td>
            </tr>
            <tr>
                <th>Codigo gravado</th>
                <td>{{ entity.codigoigvgravado }}</td>
            </tr>
            <tr>
                <th>Monto de retención</th>
                <td>{{ entity.montoretencion }}</td>
            </tr>
            <tr>
                <th>Código de retención</th>
                <td>{{ entity.codigoretencion }}</td>
            </tr>
            <tr>
                <th>Monto de detracción</th>
                <td>{{ entity.montodetraccion }}</td>
            </tr>
            <tr>
                <th>Código de detracción</th>
                <td>{{ entity.codigodetraccion }}</td>
            </tr>
            <tr>
                <th>Cuenta</th>
                <td>{{ entity.cuenta }}</td>
            </tr>
            <tr>
                <th>Tipo de servicio</th>
                <td>{{ entity.tiposervicio }}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{{ entity.creado|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modificado</th>
                <td>{{ entity.modificado|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="registroAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_vipac_dbproceso_docsaptipo') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_vipac_dbproceso_docsaptipo_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
