{% extends "::global.html.twig" %}
{% block title %}Procesos con base de datos - {{ parent() }}{% endblock title %}
{% block titulo %}{% endblock titulo %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@GoproVipacDbprocesoBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets%}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@GoproVipacDbprocesoBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
{% block sidebar %}
    {{ parent() }}
{% endblock sidebar %}
{% block container %}
    <div id="GoproViapacDbprocesoBundle">
        {% block content %}
        {% endblock content %}
    </div>
{% endblock container %}
{% block javascriptsfinal %}
    {{ parent() }}
    <script>
        $( ".ajaxLink" ).click(function(event) {
            event.preventDefault();
            var id = $(this).prop('rel');
            var url = $(this).prop( "href" );
            //alert(url);
            var posting = $.post( url, { id: id } );
            //$("#archivos #listado tr[rel="+id+"]").remove();

            posting.done(function( data ) {
                //  var content = $( data ).find( "#content" );
                if(!data.hasOwnProperty('exito')){
                    alert ('El servidor no devolvio la respueta esperada')
                    return false;
                }
                if(!data.hasOwnProperty('mensaje')){
                    alert ('El servidor no devolvio mensaje')
                    return false;
                }
                if(data.exito=='si'){
                    $("#archivos #listado tr[rel="+id+"]").remove();
                }else{
                    //alert(data.mensaje);

                };
                $("#sessionFlash").empty().append(data.mensaje);
                //
            });
        });
    </script>
{% endblock javascriptsfinal %}