{% extends 'GoproVipacReporteBundle::layout.html.twig' %}
{% block content %}
    <h1>Campo</h1>
    <table class="registroPropiedades">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Nombre a mostrar</th>
                <td>{{ entity.nombremostrar }}</td>
            </tr>
            <tr>
                <th>Predeterminado</th>
                <td>{{ entity.predeterminado }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="registroAcciones">
        <li>
            <a href="{{ path('campo') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a href="{{ path('campo_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
