{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block title %}Lista de componentes{% endblock title %}
{% block titulo %}Lista de componentes{% endblock titulo %}
{% block content %}
    <table class="listaRegistros">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Creado</th>
                <th>Modificado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('gopro_inventario_componente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{% if entity.creado %}{{ entity.creado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.modificado %}{{ entity.modificado|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('gopro_inventario_componente_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('gopro_inventario_componente_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_inventario_componente_new') }}">
                Agregar un componente
            </a>
        </li>
    </ul>
{% endblock content %}
