{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block title %}Lista de componentes{% endblock title %}
{% block titulo %}Lista de componentes{% endblock titulo %}
{% block content %}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_inventario_componente_new') }}">
                Agregar un componente
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_inventario_item') }}">
                Lista de items
            </a>
        </li>
        <li>
            <a class="boton" href="{{ path('gopro_inventario_componentecaracteristica') }}">
                Lista de características
            </a>
        </li>
    </ul>
    {{ grid(grid) }}
    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_inventario_componente_new') }}">
                Agregar un componente
            </a>
        </li>
    </ul>
{% endblock content %}
