{% extends 'GoproInventarioBundle::layout.html.twig' %}
{% block title %}Componentes{% endblock title %}
{% block titulo %}Componentes{% endblock titulo %}
{% block content %}
    <table class="registroPropiedades">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Item</th>
                <td>{% if entity.item %}{{ entity.item.nombre }}{% endif %}</td>
            </tr>
            <tr>
                <th>Tipo de componente</th>
                <td>{% if entity.componentetipo %}{{ entity.componentetipo.nombre }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecha de compra</th>
                <td>{{ entity.fechacompra|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Finde garantía</th>
                <td>{{ entity.fechafingarantia|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Fecha de baja</th>
                <td>{{ entity.fechabaja|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Características</h2>

    <table class="listaRegistros">
        <thead>
        <tr>
            <th>Id</th>
            <th>Característica</th>
            <th>Contenido</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for componentecaracteristica in entity.componentecaracteristicas %}
            <tr>
                <td>{{ componentecaracteristica.id }}</td>
                <td>{{ componentecaracteristica.caracteristica.nombre }}</td>
                <td>{{ componentecaracteristica.contenido }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gopro_inventario_componentecaracteristica_show', { 'id': componentecaracteristica.id }) }}">mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('gopro_inventario_componentecaracteristica_edit', { 'id': componentecaracteristica.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="listaAcciones">
        <li>
            <a class="boton" href="{{ path('gopro_inventario_componentecaracteristica_new', { 'componente_id': entity.id }) }}">
                Agregar caracteristica
            </a>
        </li>
    </ul>

    <ul class="registroAcciones">
        {% if entity.item %}
            <li>
                <a class="boton" href="{{ path('gopro_inventario_item_show', { 'id': entity.item.id }) }}">
                    Ir al item
                </a>
            </li>
        {% endif %}
        <li>
            <a class="boton" href="{{ path('gopro_inventario_componente_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
