{% extends "::global.html.twig" %}
{% block title %}Reportes - {{ parent() }}{% endblock title %}
{% block titulo %}{% endblock titulo %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@GoproVipacReporteBundle/Resources/public/css/*' filter='css_url_rewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets%}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@GoproVipacReporteBundle/Resources/public/js/inicio/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
{% block sidebar %}
    {{ parent() }}
{% endblock sidebar %}
{% block container %}
    <div id="GoproVipacReporteBundle">
        {% block content %}
        {% endblock content %}
    </div>
{% endblock container %}

{% block javascriptsfinal %}
    <script type="text/javascript">
        $('#resultados').floatingScrollbar();
    </script>
    <script type="text/javascript">
        $(".listaRegistros").floatThead({useAbsolutePositioning: true});
    </script>
    <script id="plantillaFiltroRow" type="text/x-tmpl">
        {{ source("GoproVipacReporteBundle:Plantilla:filtrorow.js.twig") }}
    </script>
    <script id="plantillaOrdenRow" type="text/x-tmpl">
        {{ source("GoproVipacReporteBundle:Plantilla:ordenrow.js.twig") }}
    </script>
    {% javascripts '@GoproVipacReporteBundle/Resources/public/js/fin/*'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}

{% endblock javascriptsfinal %}
