{% extends 'GoproVipacDbprocesoBundle::layout.html.twig' %}
{% block content %}
    <h1>Tipo de documentos CP</h1>
    <table class="registroPropiedades">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Subtipo</th>
                <td>{{ entity.subtipo }}</td>
            </tr>
            <tr>
                <th>Subtotal</th>
                <td>{{ entity.subtotal }}</td>
            </tr>
            <tr>
                <th>Impuesto 1</th>
                <td>{{ entity.impuesto1 }}</td>
            </tr>
            <tr>
                <th>Impuesto 2</th>
                <td>{{ entity.impuesto2 }}</td>
            </tr>
            <tr>
                <th>Rubro 1</th>
                <td>{{ entity.rubro1 }}</td>
            </tr>
            <tr>
                <th>Rubro 2</th>
                <td>{{ entity.rubro2 }}</td>
            </tr>
            <tr>
                <th>Rubro 2 %</th>
                <td>{{ entity.rubro2porcentaje }}</td>
            </tr>
            <tr>
                <th>Retención</th>
                <td>{{ entity.retencion }}</td>
            </tr>
            <tr>
                <th>Código de retención</th>
                <td>{{ entity.codretencion }}</td>
            </tr>
            <tr>
                <th>Creado</th>
                <td>{{ entity.creado|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Modificado</th>
                <td>{{ entity.modificado|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="registroAcciones">
        <li>
            <a href="{{ path('doccptipo') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a href="{{ path('doccptipo_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock content %}
